#form1 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    padding: auto;
    vertical-align: middle; 
        }

#form2 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    padding: auto;
    vertical-align: middle; 
        }

td {
    text-align: center;

        }